*.csv
*.json
*.safetensors
*.txt
__pycache__/
basic_model/
intent_data/
.env
source/
source2/
labeled2/
source3/
card_chatbot/
nlp/
vectordb/
source4/
.dist/
test_db/
consume_data/
test_db2/
txt_file/
customer_txt_file/
*.pdf
customer_id_1/